{% extends 'base.html' %}

{% block title %}
Error 404 - {{ block.super }}
{% endblock %}

{% block content %}
<div class="cuerpo">
	<div class='cuerpo_cont'>
	
		<div class="breadcrumb">
	        <a href="{% url index %}">Home</a> &gt; <span>error 404</span>
	    </div>
	    
		<div class='clear'></div>
		
		<div id='e404-cont'>
			<div class='mitad mitad1'>
				<span class='err-tit'>
					Oooops!!
				</span>
				<br/>
				<span class='err-num'>
					404
				</span>
				
				<div class='tit'>{{object.resumen|safe}}</div>
				<div class='txt'>
					{{object.contenido|safe}}
					
					Por favor vuelve a la <a href='{% url index %}'>home</a> para que <br/>podamos solucionar el problema.
					<br/><br/>
					¡Gracias!
				</div>
				
			</div>
			
			<div class='mitad mitad2'>
				{% if object.main_image %}
					<img src="{{ object.main_image.imagen.url }}" alt="{{ object.main_image.titulo }}" >
				{% endif %}
			</div>
		</div>
	    <div class='clear'></div>  
    </div>
</div>
{% endblock %}