{% extends 'base.html' %}

{% block title %}
    {{ object.titulo }} - {{ block.super }}
{% endblock %}

{% block content %}

<div id="slides" class='container'>
    <div class="slides_container">
        {% for s in slides %}
        <div class='contenido'>
                {% if s.imagen %}<img src="{{ s.imagen.url }}" alt="s.titulo" />{% endif %}
                <div class='titulo'>{% if s.titulo %}{{ s.titulo }}{% endif %}</div>
                {% if s.contenido %}
                    <div class="texto">
                        {{ s.contenido|safe }}
                        {% if s.enlace %}
                        	<a href="{{ s.enlace }}" class="boton">{{ s.enlace_texto }}</a>
                        {% endif %}
                    </div>
                {% endif %}
                {% if s.video %}{% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<div id='cuerpo-home' class='container'>
	
	<div class='mitad'>
		<span class='titulo'>servicios destacados</span>
		
		{% for serv in servicios_portada %}
		<div class='item'>
			<p class='tit'>{{serv.titulo}}</p>
			 {% if serv.main_image %}<img src="{{ serv.main_image.imagen.url }}" alt="{{ serv.main_image.titulo }}" >{% endif %}
			{{serv.resumen|safe}}
		</div>
		{% endfor %}
		
	</div>
	
	<div class='mitad'>
		<span class='titulo'>nuestros valores</span>
		
		{% for valor in valores_portada %}
		<div class='item'>
			<p class='tit'>{{valor.titulo}}</p>
			 {% if valor.main_image %}<img src="{{ valor.main_image.imagen.url }}" alt="{{ valor.main_image.titulo }}" >{% endif %}
			{{valor.resumen|safe}}
		</div>
		{% endfor %}
	</div>
	
	<div class='clear'></div>
	
	<div class='mitad2'>
		<span class='titulo'>nuestros clientes nos avalan</span>
		<div id='clientes-list'>
		<div class='boton prev'><</div>
			<div id='clientes-list-c'>			
				<ul>
					{% for cli in lista_cli %}
						<li><img src='{{cli.logo.url}}' title='{{cli.nombre}}' /></li>
					{% endfor %}
				</ul>			
			</div>
		<div class='boton next'>></div>
		</div>
		
		<div class='caja-gris'>
			<span class='titulo'>nuestro blog</span>
						
			{% load i18n feeds %}
			{% if conf.blog_rss %}
			<div class='cont'>
				{% with rss=conf.blog_rss %}
		            {% include_feed rss 1 blog.html %}
		        {% endwith %}
			</div>
			{% endif %}
			
		</div>
		
	</div>
	
	<div class='mitad2'>
		<span class='titulo'>testimonios</span>		
		<div id="home-testimonios">
			<div class='cont'>
				<ul>
					{% for testi in lista_testi %}
					<li>
						<img src="{{testi.imagen.url}}" />
						<span class='titulo'>{{testi.nombre}}</span>
						<span class='titulo'>{{testi.categoria.nombre|upper}}</span>
						<span class='texto'>{{testi.comentario|safe}}</span>
					</li>
					{% endfor %}
				</ul>
				<div class='clear'></div>
				
				<a href='/testimonios'  class='vertodos'>{ver todos}</a>
				
			</div>
		</div>
	</div>
	
	<div class='clear'></div>	
</div>

{% endblock %}
