{% extends 'base.html' %}
{% load mptt_tags mptt_custom_tags %}

{% block title %}
{{ object.get_titulo }} - {{ block.super }}
{% endblock %}


{% block content %}
<div class="cuerpo">
	<div class='clear'></div>
	<div class='cuerpo_cont'>
		
		<div class="breadcrumb">
	        <a href="{% url index %}">Home</a> &gt; <span>sitemaps</span>
	    </div>
	    
	    <div id='cat-cont' class='sola'>
	    	<h2>{{ object.titulo }}</h2>
	    	
	    	{{ object.contenido|safe }}

			<div id='site-list'>
            {% full_tree_for_model_active web.Pagina as drilldown %}  
            {% for node,structure in drilldown|tree_info %}
                {% if structure.new_level %}
                	<ul class='sitemap-list'><li>
                {% else %}
                	</li><li>
                {% endif %}
                
                {% if not node.plantilla in "web/error.html"  %}
                <a href="{{ node.get_absolute_url }}">{{ node.nombre }}</a>
                {% endif %}
                {% for level in structure.closed_levels %}</li></ul>{% endfor %}
                
            {% endfor %}

            <ul class='sitemap-list'>
            	<li><a href="{% url testimonios %}">Testimonios</a></li>
            	<li><a href="{% url tutoriales %}">Tutoriales</a></li>
                <li><a href="{% url quienes %}">Quiénes somos</a></li>
            </ul>
	    	</div>
	    </div>
	    
	</div>   

</div>

{% endblock %}