{% extends 'base.html' %}

{% block title %}
{{ contact_data.exito_titulo }} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="cuerpo">
	
	<div class='cuerpo_cont'>
	
		<div class="breadcrumb">
	        <a href="{% url index %}">Home</a> &gt; <span>contacto</span> &gt; <span>formulario gracias</span>
	    </div>
	    
	    <div id='contacto-gracias'>
	    {% if contact_data.exito_imagen %}<img src="{{ contact_data.exito_imagen.url }}" alt="{{ contact_data.exito_titulo }}" >{% endif %}

		<h2>{{ contact_data.exito_titulo }}</h2>
		<h3>{{ contact_data.exito_texto|safe }}</h3>
	    </div>
	</div>

</div>
{% endblock %}