<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/galdon_styles.css" />
    <link rel="shortcut icon" href="{{ conf.favicon.url }}" />

    <title>{% block title %}{{ conf.titulo }}{% endblock %}</title>
</head>
<body>

<div id='sombras'>
<div id='cabecera' class='container'>
	<h1>                           
        <a href="{% url index %}">
            <img src="{{ conf.logo.url }}"  alt="{{ conf.titulo }}" />
            <span>{{ conf.titulo }}</span>
        </a>
    </h1>
    <p>{{ conf.eslogan }}</p>
        
	<div class='telefono'>
		{{ conf.telefono }}
	</div>
	
</div>
<div id='menu-main' class='container'></div>

<div class="cuerpo">
	<div class='cuerpo_cont'>
	
		<div class="breadcrumb">
	        <a href="{% url index %}">Home</a> &gt; <span>Error del Servidor</span>
	    </div>
	    
		<div class='clear'></div>
		
		<div id='e404-cont'>
			
				<span class='err-tit'>
					Oooops!!
				</span>
				<br/>
				<span class='err-num'>
					503
				</span>
				
				<div class='tit'>Error del Servidor</div>
				<div class='txt'>
					
					 <p>Detectamos un problema mientras intentábamos mostrarle la página.<br/>
                    Hemos tomado nota y lo solucionaremos cuanto antes.</p>

					<br/>
                    
					Por favor vuelve a la <a href='{% url index %}'>home</a> para que <br/> puedas continuar navegando por el resto de la web.
					<br/><br/>
					¡Gracias!
				</div>
				
			
			
		</div>
	    <div class='clear'></div>  
    </div>
</div>

</div>