{% load thumbnail %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="es-es"/>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
<meta name="keywords" content="{% block metakeywords %}{% for i in object.metatags.all %}{{ i.palabras_clave }}{% endfor %}{% endblock %}"/>
<meta name="description" content="{% block metadescription %}{% for i in object.metatags.all %}{{ i.descripcion }}{% endfor %}{% endblock %}"/>
<meta name="robots" content="{% block metarobots %}{% for i in object.metatags.all %}{{ i.get_robots_display }}{% endfor %}{% endblock %}"/>
{% if conf.alexa %}<meta name="alexaVerifyID" content="{{ conf.alexa }}"/>{% endif %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/galdon_styles.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/contacto.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/inputs.css" />

<link rel="shortcut icon" type="image/x-icon" href="{{ conf.favicon.url }}"/>
	
    <title>{% block title %}{{ conf.titulo }}{% endblock %}</title>
</head>
<body>
<div id='sombras'>
<div id='cabecera' class='container'>
	
	<h1>                           
        <a href="{% url index %}">
            <img src="{{ conf.logo.url }}"  alt="{{ conf.titulo }}" />
            <span>{{ conf.titulo }}</span>
        </a>
    </h1>
    <p>{{ conf.eslogan }}</p>
    
    <div id='cab-right'>    	
    	<div id='social-like'>
    		<!-- AddThis Button BEGIN -->
    		<script language="javascript" type="text/javascript">
    		//<![CDATA[
    		document.write("<div class='addthis_toolbox addthis_default_style'><a class='addthis_button_facebook_like' fb:like:layout='button_count' fb:like:width='110'></a><a class='addthis_button_google_plusone' g:plusone:size='medium'></a></div>");
			//]]>
			</script>
			
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fc4ecfe1e919a76"></script>
			<!-- AddThis Button END -->
		</div>
      	<div class='clear'></div>
      	<div id='menu-cab'>
	    	<ul>
	    		<li><a href="{% url quienes %}">Quienes somos</a></li>
	    		<li><a href="{% url contact %}">Contacto</a> | </li>
	    		<li><a href="{% url tutoriales %}">Tutoriales</a> | </li>
	    		<li><a href="{{ conf.blog }}">Blog</a> | </li>    	
			</ul>
		</div>
	</div>
	
	<div class='telefono'>
		{{ conf.telefono }}
	</div>
	
</div>


<div id='menu-main' class='container'>
	
	<ul>
    {% for categoria in cat1 %}
    
            <li><a href="{{ categoria.get_absolute_url }}"><span>{{ categoria.menu_nombre }}</span></a>
                {% if categoria.menu_hijos %}
                <ul class='menu-main-sub'>
                    {% for hijo in categoria.menu_hijos %}
                    <li><a href="{{ hijo.get_absolute_url }}">{{ hijo.menu_nombre }}</a></li>
                    {% endfor %}                    
                    
                    {% if categoria.main_banner %}
                    <li class='graf'>
                    	<div class='graf-txt'>
                        {{ categoria.main_banner.contenido|safe }}
                        </div>
                        
                        {% if categoria.main_banner.imagen %}
                        {% thumbnail categoria.main_banner.imagen "75x84" as img %}
                        <img src="{{ img.url }}" alt="{{ categoria.main_banner.nombre }}" width="{{ img.width }}" height="{{ img.height }}" />
                        {% endthumbnail %}
                        {% endif %}
                        <a class='boton' href="{{ pagina.main_banner.url }}">{{ categoria.main_banner.subtitulo }}</a>
                    </li>
                    {% endif %}
                    
                </ul>
                {% endif %}
            </li>
    {% endfor %}
    </ul>
    
</div>

{% block content %}{% endblock %}

<div id="pie">
	{# Social #}
   	<div id="social">
        <ul>
            {% for s in social %}
            <li><a href="{{ s.enlace }}" onclick="{{ s.enlace_analytics }}">
            	{% if s.imagen %}
            	<img src="{{ s.imagen.url }}" alt="{{ s.nombre }}" /></a>
            	{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div id='menu-pie'>
		<ul>
            {% for pagina in pie %}
            <li><a href="{{ pagina.get_absolute_url }}">{{ pagina.pie_nombre }}</a>
            {% if not forloop.last %}
            &nbsp;|&nbsp;
            {% endif %}
            </li>
            {% endfor %}
        </ul>   
    </div>    
</div>
</div>

<script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/JavaScript" src="{{ STATIC_URL }}js/slides.min.jquery.js"></script>
<script type="text/JavaScript" src="{{ STATIC_URL }}js/functions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jcarousellite.min.js"></script>

<script type="text/JavaScript">
    $(function(){
        $('#slides').slides({
                preload: true,
                generateNextPrev: false,
                preloadImage: '{{ STATIC_URL }}img/loading.gif',
                play: {{ conf.tiempo_diapositivas }},
                hoverPause: true,
                pause: 1000
		});
		
		//-- SUBMENU --
		$('.menu-main-sub').hide();
		var x_max = $('.container').width();
		var b = 2;
		if( $('.menu-main-sub').css("border-width") )
		{
			b = parseInt($('.menu-main-sub').css("border-width"));
		}
						
		var fMenuMainOn = function(){
			$('#menu-main ul > li > a').removeClass('current');
			$(this).addClass('current');
			$(this).find('a:first').addClass('current');
			
			$('.menu-main-sub').hide();
			$(this).find('ul:first').show();
			
			//main
			mx = $(this).offset().left;			
			mt = $(this).offset().top;
			mw = $(this).width();
			
			//sub
			sm = $(this).find('ul:first');
			w = sm.width();
			
			offst = mx + (w-mw);
						
			if( offst > x_max )
			{
				x = (mx-w)+(mw-b);
				var opt = {
				    "left": x
				};
				sm.offset(opt);
			}
		};	
		$('#menu-main > ul > li').mouseover( fMenuMainOn );
		$('.menu-main-sub').mouseleave(function(){
			$('.menu-main-sub').hide();
			$('#menu-main ul > li > a').removeClass('current');
		});
		$('#menu-main').mouseleave( function() {
			$('.menu-main-sub').hide();
			$('#menu-main ul > li > a').removeClass('current');
		});
		//-- SUBMENU.END --
		
		$("#clientes-list-c").jCarouselLite({
	        speed: 700,
	        visible: 7,
	        //mouseWheel: false,
	        circular: false,
	        //auto: true,
	        btnNext: ".next",
    		btnPrev: ".prev"
	    });
		
    });


    $(document).ready(function(){
    	$(".contacto_rapido").show();
        $(".contacto_thanks").hide();
        $(".contacto_rapido .btn_send").live("click", "send",function() {
            validate_rapido();
            return false
        });
        
        
    });

</script>
{% block extra_body %}{% endblock %}
{{ conf.google_analytics|safe }}
</body>
</html>

